[user]
	name = dmarciukovas
	email = dmarciukovas@cmcmarkets.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[http]
	sslCAInfo = /home/dmarciukovas/.aws/combined_cas.pem
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
